:root {
    --bg-color-red: #e93314;
    --bg-color-black: #292929;
}
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 70px;
    background-color: var(--bg-color-black);
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}


.col {
    display: flex;
    align-items: center;
}
.date {
    font-size: 34px;
    font-weight: 500;
}
.month-year {
    font-size: 11;
}
.hot-news span{
    margin: 20px 20px;
    padding: 8px 19px;
    background-color: var(--bg-color-red);
}
.hot-news span {
    font-size: 11px;
    font-weight: bold;
}
.words {
    width: 480px;
    height: 70px;
    background-color: rgb(32, 28, 28);
}
.words ul {
    list-style-type: none;
    display: none;
}
.arrows {
    margin: 20px;
}
.arrows i {
    color: var(--bg-color-red);
}

.buttons {
    list-style: none;
    display: flex;
}
.buttons li a i {
    width: 32px;
    height: 32px;
    margin: 2px;
    border-radius: 2px;
    background-color: var(--bg-color-red);
    display:flex; 
    justify-content:center; 
    align-items:center;
    font-size: 12px;
}

